.vs/
*/#backups/*
*/Configs/*/*
*/extensions/*/*.cpp
*/extensions/*/*.dll
*/Debug/
*/Release/
x64/
Debug/
Release/
export/*.gmez
export/*.yymp
export/*.png
export/*.gmz
*.sdf
help.rtf

WindowIconToolsUnity/bin/